<mat-card-subtitle>

 </mat-card-subtitle>
<mat-card-content>
    <jhi-alert></jhi-alert>

    <div class="container-fluid">
    <div class="co;">
        <form>
            <mat-form-field>
                <mat-select placeholder="Plan Sprint" [(ngModel)]="selectedSprint" [formControl]="sprintControl" name="theSprint">
                    <mat-option *ngFor="let iterat of iterations" [value]="iterat">
                        {{iterat.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <form>
                <mat-form-field>
                    <mat-select placeholder="Select Teams" [(ngModel)]="selectedTeams" [formControl]="teamSelectionControl" name="theTeams" multiple>
                        <mat-option *ngFor="let team of teams" [value]="team">
                            {{team.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>


            <mat-card-actions>
                        <mat-card-subtitle [hidden]="!selectedSprint || selectedTeams.length == 0">Selected:</mat-card-subtitle>
                        <tr *ngFor="let team of selectedTeams ;trackBy: trackId">
                            <td>
                                    <a class="nav-link" [routerLink]="['../assign-people/' + selectedSprint.id + '/' + team.id ]">
                                        <span>{{team.name}}</span>
                                    </a>
                            </td>
                        </tr>
            </mat-card-actions>
        <br/>
        <br/>
        <button mat-raised-button color="primary"  data-toggle="tooltip" data-placement="top" title="Assign Teams to Sprint"
                (click)="createSprintTeams()"  [disabled]="!selectedSprint">Save</button>

    </div>



</div>
</mat-card-content>
