
<form name="searchForm" class="form-inline" [formGroup]="iterationChoiceFormGroup">
<div>
<div class="row">
<ngx-multiselect class="dropdown-menu-center" [(ngModel)]="model" [options]="teams" [displayName]="'name'" [trackBy]="'id'"
                 [ngModelOptions]="{standalone: true}" [multiple]="true" placeholder="Select Teams" formControlName="dropdownModel" >

</ngx-multiselect>


    <div class="col-sm-4">
        <button type="button" class="btn btn-raised btn-primary" (click)="displaySelectedItems">Allocate</button>
    </div>

</div>
    <div class="row">

    <div class="card">
        <div class="card-block">
            <h6 class="card-subtitle mb-2 text-muted">Selected:</h6>
            <tr *ngFor="let team of showSelectons ;trackBy: trackId">
                <td>{{team.name}}</td>
            </tr>

        </div>
    </div>
    </div>
</div>
</form>
