<h2>
    Plan Sprint
</h2>
<h4>
    Assign Teams to Sprint X
</h4>
<br/>
<div class="container-fluid">

        <div class="row">
            <div id="jqxWidget" class="column">
                <jqxListBox #teamListBox
                            [filterable]="true"
                            [multiple]="true"
                            [source]="dataAdapter"
                            [width]="200"
                            [height]="200">
                </jqxListBox>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-block">
                        <h6 class="card-subtitle mb-2 text-muted">Selected:</h6>
                        <tr *ngFor="let team of selectedTeams ;trackBy: trackId">
                            <td>{{team.label}}</td>
                        </tr>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <button type="button" class="btn btn-raised btn-primary"  data-toggle="tooltip" data-placement="top" title="Assign Teams to Sprint" (click)="displaySelectedItems">Assign</button>

        </div>


</div>
