<div class="container">
    <mat-card (click)="onClick()">
        <mat-card-header>
            <mat-card-title>{{sprintTeam.team.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="sprintTeam.sprintTeamPersons != null && sprintTeam.sprintTeamPersons.length > 0">
                <mat-grid-list cols="6"  rowHeight="140px" >
                    <mat-grid-tile *ngFor="let num of [0,1,2,3,4]; let i = index">
                        <div *ngIf="i < 3 && sprintTeam.sprintTeamPersons.length > i" >
                            <jhi-person [person]="sprintTeam.sprintTeamPersons[i]"></jhi-person>
                        </div>
                        <div *ngIf="i < 3 && sprintTeam.sprintTeamPersons.length <= i" >
                              <div></div>
                         </div>

                        <div *ngIf="i == 3 && sprintTeam.sprintTeamPersons.length > 3" >

                                <img mat-card-sm-image src="../../../content/images/dot-dot-dot.gif">
                        </div>
                        <div *ngIf="i == 4" >
                            <div>
                                Capacity: {{capacity}}
                            </div>
                            <div>
                                Velocity: {{velocity}}
                            </div>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile *ngIf="!peopleOverviewVisible">
                            <img mat-card-sm-image src="../../../content/images/menu.png">
                    </mat-grid-tile>
                    <mat-grid-tile *ngIf="peopleOverviewVisible">
                        <img mat-card-sm-image src="../../../content/images/close.png">
                    </mat-grid-tile>
                </div>
           </mat-grid-list>
            <div *ngIf="peopleOverviewVisible" >
                <jhi-people-availability [sprintTeam]="sprintTeam"></jhi-people-availability>
            </div>
        </mat-card-content>
    </mat-card>

</div>
