.mat-card-md-image {
    height: 60px;
    width: auto;
}

.title-text {
    font-size: 11px;
    margin-top: 8px;
}

mat-card {
    width: 112px;
    height: 135px;
    border-style: none;
    border-left: none;
    border: 0em;
}
