<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let iterat of iterations">
        <ng-template ngbPanelTitle>
            <span>{{iterat.name}}&emsp;&emsp;{{iterat.start | date:'mediumDate'}} - {{iterat.end | date:'mediumDate'}}</span>

            <button type="submit"
                class="btn btn-primary float-right" [routerLink]="['/', { outlets: { popup: 'iteration/'+ iterat.id + '/copy'} }]"
                    [ngbTooltip]="addTooltip1" placement="bottom">
                <span class="fa fa-files-o"></span>
                <ng-template #addTooltip1>
                    <span >Copy Sprint</span>
                </ng-template>
            </button>

            <button type="submit"
                    class="btn btn-primary float-right" [routerLink]="['/', { outlets: { popup: 'iteration/'+ iterat.id + '/edit'} }]"
                    [ngbTooltip]="addTooltip" placement="bottom">
                <span class="fa fa-pencil"></span>
                <ng-template #addTooltip>
                    <span >Edit Sprint</span>
                </ng-template>
            </button>

        </ng-template>
        <ng-template ngbPanelContent>
            <jhi-sprint-overview [displayedSprint]="iterat"></jhi-sprint-overview>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
