<div class="col" *ngFor="let stPerson of sprintTeam.sprintTeamPersons; let i = index">
    <div class="container">


        <mat-grid-list [cols]='stPerson.availableDays.length + 1'  rowHeight="120px" gutterSize="2px" >
            <mat-grid-tile>
                <jhi-person [person]="stPerson"></jhi-person>
            </mat-grid-tile>
            <mat-grid-tile  *ngFor="let availableDay of stPerson.availableDays">
                <mat-card [style.backgroundColor]="'#d4edda'" > {{availableDay  | date:'dd MMM'}}</mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
