
.mat-grid-list {
    display: block;
    position: relative;
}

.date-grid-tile > figure {
    position: absolute;
    left: 5px;
    background: beige;
}

.more-left-margin{
    margin-left: 6.3px;
}
