<mat-card-content>
    <div class="container">
     <div class="col-sm-12">
         <br/>
            <form>
                <div class = "row">
                    <div class="col-sm-6">
                        <mat-form-field>
                            <mat-select placeholder="Select People" [(ngModel)]="selectedPeople" [formControl]="personSelectionControl" name="thePeople" multiple>
                                 <mat-option *ngFor="let person of people" [value]="person">
                                    {{person.name + ' '+ person.surname}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-sm-6">
                        <mat-form-field>
                            <input matInput type="number" placeholder="Velocity Factor" [(ngModel)]= "sprintTeam.velocityFactor" [formControl]="velocityFormControl">
                        </mat-form-field>
                    </div>
                </div>
            </form>
             <div class="more-left-margin">
             <mat-card-subtitle [hidden]="selectedPeople === undefined || selectedPeople.length == 0">Selected:</mat-card-subtitle>
                 <br/>
             <tr *ngFor="let person of selectedPeople ;trackBy: trackId">
                 <td><span>{{person.name + ' '+ person.surname + '  '}}</span> </td>
                 <td></td>
                 <td class="more-left-margin"> <span class=" fa fa-times fa- float-right" (click)="removePersonClicked(person)"></span></td>


             </tr>
             </div>
    </div>
       <div class="col-sm-2">
           <br/>
        <form>

        </form>
       </div>
        <div class="col-sm-12">
            <button type="submit"
                    class="btn btn-primary float-right" (click)="assignPeopleToSprintTeam()"
                    [ngbTooltip]="addTooltip" placement="bottom">
                <span class="fa fa-save"></span>
                <ng-template #addTooltip>
                    <span >Save People in Sprint</span>
                </ng-template>
            </button>
        </div>
    </div>
</mat-card-content>
